@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.header {
  position: sticky;
  top: 0;
  padding: 10px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  background-color: #09090b;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header h1,
.header h2 {
  margin: 0;
}

.menu-button:hover {
  background-color: #202027 !important;
}

.fake-menu:hover {
  background-color: #09090b !important;
  cursor: default;
}
