.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 108.97px);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-item {
  flex: 1 1 calc(50% - 40px);
  max-width: calc(50% - 40px);
}

.portfolio-item img {
  width: 100%;
  height: auto;
}
