.side-menu {
  width: 250px;
  background-color: #f4f4f4;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.side-menu p {
  margin: 0 0 20px;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu ul li {
  margin: 10px 0;
}
